.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.btn{
    padding: 10px 15px;
    color: white;
    background: #2E4053;
    border-radius: 10px;
    /* font-size: 18px; */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:active{
    transform: scale(.9);
}

.barChart-container{
    margin-top: 20px;
    position: relative;
    
}

.axis{
    height: 300px;
    width: 500px;
    border-left: 1px solid #252525;
    border-bottom: 1px solid #252525;
}

.tickets, .department{
    position: absolute;
}

.tickets{
    top: 40%;
    left: -20%;
    /* transform:  translate(-50%, -50%); */
    transform: rotate(-90deg);
}

.department{
    left: 45%;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
}

.bar{
    flex: 1;
}